# Node.js Packages
node_modules/

# Environment Files
.env

# IDE Configurations
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS Files
.DS_Store
Thumbs.db

# Build Artifacts
/dist /
/build/

# Logs
logs/
*.log

# Sensitive Data
*.pem
*.key
